body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: aquamarine;
}

nav {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
    padding-right: 10px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

.text_home{
    background-image: url("background.jpg");
}

.p_1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding-bottom: 20px;
    list-style-type: none;
}

.p_2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding-bottom: 20px;
    list-style-type: none;
}

.p_3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding-bottom: 20px;
    list-style-type: none;
}

section {
    padding: 20px;
}

section h2 {
    margin-bottom: 20px;
}

section p {
    margin-bottom: 20px;
}

.social-media img {
    margin-right: 25px;
}

form input {
    display: block;
    margin-bottom: 20px;
    padding: 5px;
}

form button {
    background-color: #333;
    border: none;
    color: white;
    cursor: pointer;
    padding: 5px;
    margin-bottom: 30px;
}